body{background-image:url("3.jpg");
background-repeat: no-repeat;
background-size:cover;
}
#menu{
background-color:red;
font-weight:bold;
float:none;
display: block;
font-size:100%;
align-items: center;
height:100%;
width:50%;
margin-left:auto;
margin-right:auto;
}
#menu li{
background-color:black;
float:left;
display:block;
cursor: pointer;
height:8%;
width:16%;
color:#FF6F00;
font-size:100%;
text-align:center;

}
#menu li li {
float:none;
height:30px;
width:150px;
}
#menu li li a{
text-decoration:none;
color:#red;
}
#menu li ul{
display:none;
position:absolute;
padding:0px;
}
#menu li:hover ul{
display:block;
color:#cce0ffd0;
}
#menu li li:hover{
background-color:#red;
}
a{
text-decoration:none;
color:#66FFFF;

}
a:hover{
text-decoration:none;
color: #purple;
font-weight:bold;
}
#header {
  max-width: 100%;
  height: auto;
  margin: auto;
  padding: 0;
}
h1{
 text-align: center;
 background:#39b6dc94;
 color:#yellow;
 max-width: 80%;
 border-radius:40%;
 padding:0px;
}
h1:hover{
transform:scale(1.1);
}