body{background-image:url("tło.jpg");
background-repeat: no-repeat;
background-size:cover;
}
#menu{
background-color: #2c4984;
font-weight:bold;
float:none;
display: block;
font-size:100%;
align-items: center;
height:100%;
width:50%;
margin-left:auto;
margin-right:auto;
}
#menu li{
background-image:url("tłomenu.jpg");
float:left;
display:block;
cursor: pointer;
height:8%;
width:16%;
color:#FF6F00;
font-size:100%;
text-align:center;

}
#menu li li {
float:none;
height:30px;
width:150px;
}
#menu li li a{
text-decoration:none;
color:
}
#menu li ul{
display:none;
position:absolute;
padding:0px;
}
#menu li:hover ul{
display:block;
color: #2c4984;
}
#menu li li:hover{
background-color: #2c4984;
}
a{
text-decoration:none;
color: #2c4984;

}
a:hover{
text-decoration:none;
color: white;
font-weight:bold;
}
#header {
  max-width: 100%;
  height: auto;
  margin: auto;
  padding: 0;
}
h1{
 text-align: center;
 background-image:url("tłomenu.jpg");
 color:#yellow;
 max-width: 80%;
 padding:0px;
 border-radius: 0%;
 border-style: solid;
 border-width: 5px;
 border-color: #2c4984;
}
h1:hover{
transform:scale(1.1);
}
body{
  max-width:100%;
}
.btn {
 cursor: pointer;
 border-color: transparent;
 background-color: transparent;
 background-image:url("mars.png");
 height: 50px;
 width: 200px;
 color: #3498db;
 font-size: 1.5em;
 box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}